<p>
  <strong>Course:</strong>
  <%= @lesson.course.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Free:</strong>
  <%= @lesson.free %>
</p>

<p>
  <strong>Text:</strong>
  <%= @lesson.text %>
</p>

<p>
  <strong>Price:</strong>
  <%= @lesson.price %>
</p>

<p>
  <strong>Active:</strong>
  <%= @lesson.active %>

  <% if user_signed_in? and (current_user.superuser? or @lesson.course.teacher_id == current_user.id) %>
	<% if !@lesson.active %>
		<%= link_to 'Activate', category_course_activate_lesson_path(@lesson), method: :patch, data: { confirm: 'Are you sure you want to activate lesson?' } %>
	<% elsif @lesson.active %>
		<%= link_to 'Deactivate', category_course_activate_lesson_path(@lesson), method: :patch, data: { confirm: 'Are you sure you want to deactivate lesson?' } %>
	<% end %>
<% end %>
</p>

<%= link_to 'Add to cart', category_course_add_to_basket_path(@lesson), method: :patch %>

<% if user_signed_in? and current_user.superuser? %>
	<%= link_to 'Edit', edit_category_course_lesson_path(@lesson.course.category_id, @lesson.course_id, @lesson) %> |
<% end %>
<%= link_to 'Back', category_course_lessons_path(@lesson.course.category_id, @lesson.course_id) %>
