<h1>Courses</h1>
<% if !@courses.empty? %>
	<% @courses.each do |course| %>
	<div>
		<p><%= course.name %></p>
		<%= link_to 'Show', category_course_path(course.category_id, course) %>
		<% if user_signed_in? and current_user.superuser? %>
		    | <%= link_to 'Edit', edit_category_course_path(course.category_id, course) %> |
		    <%= link_to 'Destroy', category_course_path(course.category_id, course), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
	<% end %>
<% else %>
	<p>Doesn't anything here</p>
<% end %>

<% if user_signed_in? and current_user.superuser? %>
	<p><%= link_to 'New course', new_category_course_path %></p>
<% end %>