<p>
  <strong>Category:</strong>
  <%= @course.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= User.find(@course.teacher_id).full_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @course.active %>

  <% if user_signed_in? and (current_user.superuser? or @course.teacher_id == current_user.id) %>
	<% if !@course.active %>
		<%= link_to 'Activate', activate_course_path(@course), method: :patch, data: { confirm: 'Are you sure you want to activate course?' } %>
	<% elsif @course.active %>
		<%= link_to 'Deactivate', deactivate_course_path(@course), method: :patch, data: { confirm: 'Are you sure you want to deactivate course?' } %>
	<% end %>
<% end %>
</p>

<% if user_signed_in? and current_user.superuser? %>
	<%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
